MINIO_ACCESS_KEY=LohU4ZYi
MINIO_SECRET_KEY=AqtVapH8vqXwGBKSjgqNMX8m
MINIO_BUCKET=docker-registry
MINIO_REGION_ENDPOINT=http://minio:9000
DOCKER_PROXY_USERNAME=YOUR_DOCKER_HUB_USERNAME
DOCKER_PROXY_PASSWORD=YOUR_DOCER_HUB_PASSWORD
